.products {
  padding: 0 24px;
  margin-bottom: 80px;
}

.products__tabs {
  display: flex;
  padding: 8px 0;
  margin: 40px 0;
}

.products__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: white;
  color: #1a1a1a;
  padding: 20px 0;
  cursor: pointer;
}

.products__tab:first-child {
  background-color: #1a1a1a;
  color: white;
}

.products__tab:last-child {
  color: #2563eb;
}

.products__count {
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
}

.products__content {
  display: flex;
  gap: 24px;
  padding-bottom: 32px;
}

.products__article {
  padding: 24px 28px;
  max-width: 450px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.products__button--favor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 8px;
  margin-top: 24px;
  margin-right: 20px;
  align-self: flex-end;
  border: none;
}

.products__image {
  object-fit: cover;
  width: 320px;
  height: 320px;
}

.products__category {
  font-size: 12px;
  font-weight: 500;
}

.products__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.products__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.products__button-cart {
  max-width: 394px;
  width: 100%;
  padding: 20px 0;
  background-color: #2563eb;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

.products__navigation {
  border-top: 1px solid #666666;
  max-width: 413px;
}

.products__navigation-button {
  color: #666666;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.products__count,
.products__category,
.products__name,
.products__price {
  font-family: Inter, sans-serif;
}

